[Desktop Entry]
Version=1.0
Type=Application
Name=Grayhat
Comment=Grayhat TUI
Exec=alacritty --class=Grayhat --title=Grayhat -e bash -c '$HOME/.local/share/grayhat/bin/grayhat'
Icon=Arch
Terminal=false
Categories=System;Utility;
StartupNotify=false 